<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <a class="navbar-brand" href="#">FUN</a>

  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <ul class="navbar-nav ml-auto"></ul>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>

  <div class="my-2 ml-2 my-lg-0">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
  </div>
</nav>